.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #6e7094;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #6e7094 !important;
    
}

.form-control:focus {
    border-color: #6e7094 !important;
}

#result-search {
    border-color: #6e7094;
}

#profit {
    background: #6e7094;
}

.info-box .progress .progress-bar.progress-bar-green, .progress-bar-success {
    background-color: #6e7094;
}

/* Bootstrap */
.btn-success {
    background-color: #6e7094;
    border-color: #4c8885;
}

.btn-success.hover, .btn-success:hover {
    background-color: #4c8885;
}

.btn-success.focus, .btn-success:focus {
    background-color: #4c8885;
    border-color: #142961;
}

.btn-success.active, .btn-success:active {
    background-color: #6e7094;
    border-color: #a6d18e;
}

.btn-success.active.focus, .btn-success.active:focus {
    background-color: #24292e;
    border-color: #ff712c;
}

.bg-green {
    background-color: #bd4913 !important;
}

.alert-success {
    background-color: #bd4913 !important;
    border-color: #629149;
}

.label-success {
    background-color: #bd4913 !important;
}

.box.box-success {
    border-top-color: #bd4913;
}

.box.box-solid.box-success>.box-header {
    background-color: #bd4913;
}

.box.box-solid.box-success {
    border-color: #629149;
}

.text-green {
    color: #bd4913;
}

/* AdminLTE green skin */
.skin-green-light .main-header .navbar {
    background-color: #bd4913;
}

.skin-green-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #bd4913;
}

.skin-green-light .main-header .logo {
    background-color: #bd4913;
}

.skin-green-light .main-header li.user-header {
    background-color: #bd4913;
}

.skin-green-light .main-header .logo:hover {
    background-color: #bd4913;
}